# @format

name: Issue Workflow

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/kypello-io/projects/2
          github-token: ${{ secrets.BOT_PAT }}
          labeled: bug, needs-triage
          label-operator: OR